

@font-face {
    font-family: GreatVibe;
    src: url(fonts/GreatVibe.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}




body{
    display: contents;
    align-items: top;
    margin: 0px;
}
/* header */

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user{
    width: 250px;
    height: 65px;
    background-color: FFFFFF;
    display: flex;
    position: absolute;
    left: 86%;
    transform: translateX(-50%);
    border-radius: 11px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.username{
    display: flex;
    flex-direction: column;
    height: 70px;
}

.other{
    justify-content: center;
    height: 65px;
    width: 65px;
    background-color: FFFFFF;
    border-radius: 11px;
    display: flex;
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#othericon{
    width: 37px;
    height: 37px;
    padding: 14px;
}

#profilepicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
}

#picaicon{
    padding: 1%;
    height: 50px;
    width: 50px;
}

#name{
    margin: 0%;
    padding-top: 8px;
    padding-bottom: 0px;
    font-size: 21px;
}

#secondname{
    margin: 0%;
    padding-top: 3px;
    padding-bottom: 8px;
    font-size: 21px;
}
/* header */

/* main content */
.visible{
    width: 400px;
    height: 196px;
    background-color: F5D23B;
    position: absolute;
    left: 37%;
    transform: translateX(-50%);
    margin: 30px;
    border-radius: 19px;
    align-items: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.container{
    height: 54px;
    width: 360px;
    display: flex;
    background-color: FFFFFF;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 11px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.change{
    width: 150;
    height: 56px;
    background-color: FFFFFF;
    border: 0cap;
    border-radius: 11px;
    font-size: 19;
    padding-right: 0px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

}

.change:hover{
    background-color: F0F0F0;
}

.unvisible{
    width: 400px;
    height: 196px;
    background-color: F5D23B;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    margin: 30px;
    border-radius: 19px;
    align-items: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.profiletext{
    font-size:21px;
    padding-top: 16px;
    padding-left:10px;
    margin: 0px;
}

#visibleprofileimage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 8px;
}

#buttoncontainer{
    background-color: F5D23B;
    box-shadow: 0px 0px 0px ;
    display: flex;
    justify-content: center;
}
/* main content */


header { 
    background-color: #F5D23B;
    height: 74px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid black;
    display: flex;
    gap: 800px;
}

header img { 
    height: 55px;
}

header .nameBurger .LogoText { 
    font-size: 36px;
    letter-spacing: 15px;
    font-family: GreatVibe;
}

header .nameBurger { 
    width: 175px;
    height: 58px;
    display: flex;
    align-items: center;
    gap: 600px;
}

header .nameBurger .nameUsername { 
    background-color: white;
    border-radius: 11px;
    width: 163px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 7px;
}

header .nameBurger .nameUsername p { 
    width: 100px;
    font-size: 17px;
}

header .nameBurger .burgerMenu { 
    width: 46px;
    height: 46px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

header .nameBurger .burgerMenu img {
    width: 24px;
    height: 24px;
}

header .nameBurger .rightMenu {  
    display: flex;
    gap: 10px;
    align-items: center;
}