



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/styles.css') }}" >
    <script src="script.js" defer></script>
</head>

<body>

    <header>
        
        <img src="{{ url_for('core.static', filename= 'images/logo/logo.png') }}">


        <div class="nameBurger">
            <p class="LogoText">Pikaiq</p>
            <div class="rightMenu">
                <div class="nameUsername">
                    <p class="username">Name</p>
                    <p class="username">Second name</p>
                </div>
                <div class="burgerMenu">
                    
                    <img src="{{ url_for('core.static', filename= 'images/burger/burger.png') }}">
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="findBlock">
            <div class="findQuiz">
                <div class="findGlass">
                    
                    <img src="{{ url_for('core.static', filename= 'images/find/find.png') }}">
                    <input class="findText" placeholder="Find quiz"></input>
                    <button class="joinButton">join</button>
                </div>
            </div>
            <button class="newButton">+Create new test</button>
        </div>
        <div class="filters">
            <button id="all" class="filter">All</button>
            <button id="recently" class="filter">Recently viewed</button>
            <button id="madeByYou" class="filter">Made by tou</button>
            <button id="favourite" class="filter">Favourite</button>
        </div>
        <p class="geography">Geography</p>

        <div class="listTests">
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>

        </div>
    </main>



</body>

</html>