{% extends "base.html" %}


{% block title %}Main Page{% endblock %}

    
{% block link %}  
<link rel="stylesheet" href="{{ url_for('core.static', filename='css/styles.css') }}" >
<script src="script.js" defer></script>
{% endblock %}

{% block content %}

    <header>
        
        <img src="{{ url_for('core.static', filename= 'images/logo/logo.png') }}">


        <div class="nameBurger">
            <p class="LogoText">Pikaiq</p>
            <div class="rightMenu">
                <div class="nameUsername">
                    {% if current_user.is_authenticated %}
                    
                        <p class="username">{{ current_user.login }}</p>
                    
                    {% else %}

                        <p class="username">Name</p>
                        <p class="username">Second name</p>
                    {% endif %}
                </div>
                <div class="burgerMenu">
                    
                    <img src="{{ url_for('core.static', filename= 'images/burger/burger.png') }}">
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="findBlock">
            <div class="findQuiz">
                <div class="findGlass">
                    
                    <img src="{{ url_for('core.static', filename= 'images/find/find.png') }}">
                    <input class="findText" placeholder="Find quiz"></input>
                    <button class="joinButton">join</button>
                </div>
            </div>
            <button class="newButton">+Create new test</button>
        </div>
        <div class="filters">
            <button id="all" class="filter">All</button>
            <button id="recently" class="filter">Recently viewed</button>
            <button id="madeByYou" class="filter">Made by tou</button>
            <button id="favourite" class="filter">Favourite</button>
        </div>
        <p class="geography">Geography</p>

        <div class="listTests">
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>
            <div class="test">
                <img src="{{ url_for('core.static', filename= 'images/globus/globus.png') }}">
                <p class="testName">Geography test 8</p>
                <p>created: 01.04.25</p>
            </div>

        </div>
    </main>



</body>

{% endblock %}